@keyframes ldio-nuvrlg6mjx {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.ldio-nuvrlg6mjx div {
    position: absolute;
    width: 73.08px;
    height: 73.08px;
    top: 18.94666666666667px;
    left: 18.94666666666667px;
    background: #ee3e1b;
    animation: ldio-nuvrlg6mjx 1.0869565217391304s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.3260869565217391s;
}
.ldio-nuvrlg6mjx div:nth-child(2) {
    top: 18.94666666666667px;
    left: 110.97333333333333px;
    background: #efcd18;
    animation-delay: -0.21739130434782608s;
}
.ldio-nuvrlg6mjx div:nth-child(3) {
    top: 110.97333333333333px;
    left: 18.94666666666667px;
    background: #1633cc;
    animation-delay: 0s;
}
.ldio-nuvrlg6mjx div:nth-child(4) {
    top: 110.97333333333333px;
    left: 110.97333333333333px;
    background: #2f8013;
    animation-delay: -0.10869565217391304s;
}
.loadingio-spinner-cube-gn0jzn4njh {
    width: 203px;
    height: 203px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.ldio-nuvrlg6mjx {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-nuvrlg6mjx div {
    box-sizing: content-box;
}
